<%- include('partials/header'); %>

    <body>
        <nav class="navbar navbar-expand-lg" style="background-color: #f1f3f5;">
            <div class="container-fluid">
                <a class="navbar-brand" href="/">Mi Planta</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="https://mi-planta.onrender.com/">Monitoreo</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="api/eliminar/datos/estaticos">Limpiar</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="/about">Información</a>
                        </li>
                    </ul>
                    <form class="d-flex" role="search" action="/api/element" method="get">
                        <input class="form-control me-2" placeholder="Buscar por ID" aria-label="Search" id="numero"
                            type="number" min="1" pattern="^[0-9]+" maxlength="2" name="q" required>
                        <button type="submit" class="btn btn-outline-primary" all="">Search</button>
                    </form>
                </div>
            </div>
        </nav>
        <h1 class="display-3" style="text-align: center;">Tabla de Valores</h1>
        <div id="main-container">
            <table class="default">
                <thead>
                    <tr>
                        <th>ID</th>

                        <th>BOMBA</th>

                        <th>HUMEDAD</th>

                        <th>TIEMPO</th>

                        <th>TEMPERATURA</th>

                        <th>LUZ</th>
                    </tr>
                </thead>
                <% for(let i=0; i < base.length; i++) { %>
                    <tr>
                        <th>
                            <%= base[i].ID %>
                        </th>
                        <td>
                            <% if(base[i].BOMBA) { %>
                                <%= "Encendido" %>
                                    <% } else { %>
                                        <%= "Apagado" %>
                                            <% } %>
                        </td>
                        <td>
                            <%= base[i].HUMEDAD %>
                        </td>
                        <td>
                            <%= (`${base[i].TIEMPO}`.substring(0,`${base[i].TIEMPO}`.indexOf(`(`)))
                                + "(Hora de Colombia)" %>
                        </td>
                        <td>
                            <%= base[i].TEMPERATURA %>
                        </td>
                        <td>
                            <%= base[i].LUZ %>
                        </td>
                    </tr>
                    <% } %>
            </table>
            <br></br>
    </body>

    <%- include('partials/footer'); %>